
<div *ngIf="email">
    <h2><span jhiTranslate="ffManagementSuiteApp.email.detail.title">Email</span> {{email.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ffManagementSuiteApp.email.typ">Typ</span></dt>
        <dd>
            <span>{{email.typ}}</span>
        </dd>
        <dt><span jhiTranslate="ffManagementSuiteApp.email.adresse">Adresse</span></dt>
        <dd>
            <span>{{email.adresse}}</span>
        </dd>
        <dt><span jhiTranslate="ffManagementSuiteApp.email.person">Person</span></dt>
        <dd>
            <div *ngIf="email.person">
                <a [routerLink]="['/person-ff', email.person?.id]">{{email.person?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'email-ff/'+ email.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
