
<div *ngIf="dienststellung">
    <h2><span jhiTranslate="ffManagementSuiteApp.dienststellung.detail.title">Dienststellung</span> {{dienststellung.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ffManagementSuiteApp.dienststellung.titel">Titel</span></dt>
        <dd>
            <span>{{dienststellung.titel}}</span>
        </dd>
        <dt><span jhiTranslate="ffManagementSuiteApp.dienststellung.abkuerzung">Abkuerzung</span></dt>
        <dd>
            <span>{{dienststellung.abkuerzung}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'dienststellung-ff/'+ dienststellung.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
