
<div *ngIf="durchfuehrungWartung">
    <h2><span jhiTranslate="ffManagementSuiteApp.durchfuehrungWartung.detail.title">Durchfuehrung Wartung</span> {{durchfuehrungWartung.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ffManagementSuiteApp.durchfuehrungWartung.datum">Datum</span></dt>
        <dd>
            <span>{{durchfuehrungWartung.datum | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="ffManagementSuiteApp.durchfuehrungWartung.kosten">Kosten</span></dt>
        <dd>
            <span>{{durchfuehrungWartung.kosten}}</span>
        </dd>
        <dt><span jhiTranslate="ffManagementSuiteApp.durchfuehrungWartung.inventar">Inventar</span></dt>
        <dd>
            <div *ngIf="durchfuehrungWartung.inventar">
                <a [routerLink]="['/inventar-ff', durchfuehrungWartung.inventar?.id]">{{durchfuehrungWartung.inventar?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ffManagementSuiteApp.durchfuehrungWartung.schutzausruestung">Schutzausruestung</span></dt>
        <dd>
            <div *ngIf="durchfuehrungWartung.schutzausruestung">
                <a [routerLink]="['/schutzausruestung-ff', durchfuehrungWartung.schutzausruestung?.id]">{{durchfuehrungWartung.schutzausruestung?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ffManagementSuiteApp.durchfuehrungWartung.fahrzeug">Fahrzeug</span></dt>
        <dd>
            <div *ngIf="durchfuehrungWartung.fahrzeug">
                <a [routerLink]="['/fahrzeug-ff', durchfuehrungWartung.fahrzeug?.id]">{{durchfuehrungWartung.fahrzeug?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ffManagementSuiteApp.durchfuehrungWartung.atemschutzInventar">Atemschutz Inventar</span></dt>
        <dd>
            <div *ngIf="durchfuehrungWartung.atemschutzInventar">
                <a [routerLink]="['/atemschutz-inventar-ff', durchfuehrungWartung.atemschutzInventar?.id]">{{durchfuehrungWartung.atemschutzInventar?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ffManagementSuiteApp.durchfuehrungWartung.definition">Definition</span></dt>
        <dd>
            <div *ngIf="durchfuehrungWartung.definition">
                <a [routerLink]="['/wartung-ff', durchfuehrungWartung.definition?.id]">{{durchfuehrungWartung.definition?.datum}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'durchfuehrung-wartung-ff/'+ durchfuehrungWartung.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
